.grab-etching {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2px;

  pointer-events: auto;

  user-select: none;
  -webkit-user-select: none;

  cursor: grab;
}

.grab-etching:active {
  cursor: grabbing;
}

.line {
  width: 11px;
  height: 1px;
  background-color: white;

  user-select: none;
  -webkit-user-select: none;
}
