.toolbar-toggle {
  border-radius: 1000px;

  display: flex;

  background-color: transparent;
  isolation: isolate;

  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}

.toolbar-toggle::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border: 1px solid #bfbfd1;
  border-radius: 1000px;
  background-color: rgba(0, 0, 0, 0.88);

  z-index: -1;
}

.toolbar-toggle:hover::before {
  transform: scale(1.166);
  transition: transform 0.1s;
}

.toolbar-toggle:active::before {
  transform: scale(1);
  transition: transform 0s;
}
