.toolbarRepositioner {
  position: absolute;
  left: 15px;
  bottom: 22.5px;

  border-radius: 1000px;

  display: flex;

  background-color: transparent;
  isolation: isolate;

  cursor: pointer;
}

.toolbarRepositioner::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border-radius: 1000px;
  background-color: black;
  box-shadow: 0 0 12px #23232536;

  z-index: -1;
}

.toolbarRepositioner:hover::before {
  transform: scale(1.166);
  transition: transform 0.1s;
}

.toolbarRepositioner:active::before {
  transform: scale(1);
  transition: transform 0s;
}
