.toolbar-button {
  display: flex;
  padding: 6px 15px;

  background-color: transparent;

  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  color: white;

  border: none;
  border-radius: 3px;

  outline: none;

  opacity: 0.6;

  user-select: none;
  -webkit-user-select: none;
}

.enabled {
  opacity: 1;
}

.enabled:hover {
  background-color: rgb(50, 50, 56);
}

.enabled:active {
  background-color: rgb(66, 66, 73);
}
