.toolbar {
  position: absolute;
  left: 60px;
  bottom: 15px;

  width: 130px;
  height: 45px;

  background-color: rgb(12, 12, 13);

  border-radius: 5px;
  box-shadow: 0 0 12px #1a1a1c3b;

  padding: 0px 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
