.toolbarButton {
  padding: 6px 17px;

  background-color: rgb(10, 10, 10);

  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  color: rgb(235, 235, 245);

  border: 1px solid rgb(233, 233, 244);
  border-radius: 3px;

  outline: none;

  cursor: pointer;
}

.toolbarButton:hover {
  background-color: rgb(49, 49, 52);
}

.toolbarButton:active {
  background-color: rgb(68, 68, 73);
}
