.toolbar {
  position: absolute;
  left: 60px;
  bottom: 15px;

  height: 45px;
  padding: 0px 17px 0px 15px;

  background-color: black;

  border-radius: 4px;
  box-shadow: 0 0 12px #1a1a1c36;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
