.unpair-button {
  margin: 0px 0px 0px 3px;

  position: relative;
}

.unpair-button:hover .tooltip {
  display: block;
}

.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}
